.card {
    width: 262px;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    padding: 10px;
}

.card-info h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    margin: 0;
}

.card-info p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    margin: 5px 0;
}
.car-cards-container {
    width: 1198px;
    height: 320px;
    position: absolute;
    top: 284px;
    left: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    overflow-x: auto;
}
@media screen and (max-width: 1366px) {
    #carCardsContainer {
        width: calc(100% - 162px); 
        left: 81px;
    }
}

@media screen and (max-width: 1206px) {
    #carCardsContainer {
        width: calc(100% - 92px);
        left: 81px;
    }
}

@media screen and (max-width: 768px) {
    #carCardsContainer {
        width: calc(100% - 16px); 
        left: 0;
        top: 500px; 
    }
}