.container {
    position: absolute;
    width: 90%; 
    max-width: 1368px; 
    height: 80%;
    max-height: 734px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    padding: 20px; 
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: #fff; 
    color: #fff; 
    box-sizing: border-box; 
    border: none;
}

.header-content {
    display: flex;
    background-color: #ccc;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10%; 
    max-width: 55px; 
    height: auto; 
    max-height: 55px;
    color: #fff;
    background-image: url('/assets/images/logo.png');
    background-size: contain;
    z-index: 1;
    box-sizing: content-box;
}

.texto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    text-align: right;
    width: 100%; 
}
#searchInput {
    width: 1206px;
    height: 70px;
    position: absolute;
    top: 153px;
    left: 81px;
    border-radius: 10px;
    border: 2px solid #000;
    box-sizing: border-box;
    padding: 0 15px; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    outline: none;
}

@media screen and (max-width: 1366px) {
    #searchInput {
        width: calc(100% - 162px); 
        left: 81px;
    }
}

@media screen and (max-width: 1206px) {
    #searchInput {
        width: calc(100% - 92px); 
        left: 81px;
    }
}

@media screen and (max-width: 768px) {
    #searchInput {
        width: calc(100% - 16px); 
        left: 0;
        top: 100px; 
    }
}